@model IEnumerable<DevReads.Models.Livro>
@{
    ViewData["Title"] = "Index";
}

@{
    List<int> livrosExibidos = new List<int>();
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!--link o css para o html-->
    <link rel="stylesheet" href="~/css/estilo.css" asp-append-version="true"/>
    <!--coloca o icon da dev reads no site-->
    <link rel="shortcut icon" href="~/img/logo.ico" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap lib para pegar icones necessarios para a montagem do site-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    <!--fonte do google montserrat para os textos-->
    <title>DEVREADS</title>

</head>

<body>

    <main>

        <a asp-controller="Usuario" asp-action="Atendimento" class="help"><p>?</p></a>
        <section class="populares">
            <h2 class="titulo">POPULARES</h2>
            <div class="cards">
                <!-- Altere aqui para "cards" -->
                @foreach (var livro in Model)
                {

                    if (livro.EspeciaLiv == Livro.EspecialLiv.P && !livrosExibidos.Contains(livro.IdLiv))
                    {
                        <div class="card">

                            <br><br><img src="img/@livro.ImgLiv">
                            <h2>@livro.NomeLiv</h2>
                            <p>@livro.PrecoLiv</p>
                            <a asp-controller="Livro" asp-action="DetalheLivro" asp-route-IdLiv="@livro.IdLiv" class="btnp">Ver</a>
                        </div>

                    }
                }
            </div>
        </section>

        <div class="gradiente1"></div>

        <h2 class="titulo">PROMOÇÕES</h2>

        <div class="promocoes-container">
            <div class="cardestaque">
                <div class="destaque">
                    @foreach (var livro in Model)
                    {

                        if (livro.EspeciaLiv == Livro.EspecialLiv.S && !livrosExibidos.Contains(livro.IdLiv))
                        {
                            <div class="card">

                                <br><br><img src="img/@livro.ImgLiv">
                                <h2>@livro.NomeLiv</h2>
                                <p>@livro.PrecoLiv</p>
                                <a asp-controller="Livro" asp-action="DetalheLivro" asp-route-IdLiv="@livro.IdLiv" class="btnp">Ver</a>
                            </div>

                        }
                    }
                </div>

                <div class="promocoes-container">
                    <section class="promocoes">
                        <div class="ofertas">
                            <h2>Ofertas da Semana</h2>
                        </div>

                        @foreach (var livro in Model)
                        {

                            if (livro.EspeciaLiv == Livro.EspecialLiv.O && !livrosExibidos.Contains(livro.IdLiv))
                            {
                                <div class="card">

                                    <br><br><img src="img/@livro.ImgLiv">
                                    <h2>@livro.NomeLiv</h2>
                                    <p>@livro.PrecoLiv</p>
                                    <a asp-controller="Livro" asp-action="DetalheLivro" asp-route-IdLiv="@livro.IdLiv" class="btnp">Ver</a>
                                </div>

                                livrosExibidos.Add(livro.IdLiv);
                                break;
                            }                            
                        }

                    </section>
                </div>
            </div>
        </div>

        <div class="gradiente2">
            <section class="categorias">
                <h2 class="titulo">CATEGORIAS</h2>
                <div class="grid-categorias">

                    <div class="categoria">
                        <p>FUNDAMENTOS DE TI</p>
                    </div>

                    <div class="categoria">
                        <p>DESENVOLVIMENTO DE SOFTWARE</p>
                    </div>

                    <div class="categoria">
                        <p>BANCO DE DADOS</p>
                    </div>

                    <div class="categoria">
                        <p>SEGURANÇA DA INFORMAÇÃO</p>
                    </div>

                    <div class="categoria">
                        <p>IA E MACHINE LEARNING</p>
                    </div>

                    <div class="categoria">
                        <p>REDES E INFRAESTRUTURA</p>
                    </div>

                    <div class="categoria">
                        <p>HARDWARE</p>
                    </div>
                    <div class="categoria">
                        <p>TECNOLOGIA E SOCIEDADE</p>
                    </div>
                    <div class="categoria">
                        <p>IDENTIDADE VISUAL</p>
                    </div>
                </div>
            </section>
        </div>

        <div class="gradiente3">
            <!--Arrumar gradiente-->

            <div class="carousel">
                <div class="carouselL">
                    @foreach (var livro in Model)
                    {

                        if (livro.EspeciaLiv == Livro.EspecialLiv.D && !livrosExibidos.Contains(livro.IdLiv))
                        {
                            <div class="card">

                                <br><br><img src="img/@livro.ImgLiv">
                                <h2>@livro.NomeLiv</h2>
                                <p>@livro.PrecoLiv</p>
                                <a asp-controller="Livro" asp-action="DetalheLivro" asp-route-IdLiv="@livro.IdLiv" class="btnp">Ver</a>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>
    </main>

</body>
</html>